#map-main {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #EEEEEE;
}

#map-view {
    /*width: 640px; 
    height: 480px; */
    border: 2px black solid;
    margin: 20px auto 20px auto;
    background-color: #FFFFFF;
}